<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433047020217-18hj14d0q0ikrcios8p18s7vnm0pkrm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433047020217-18hj14d0q0ikrcios8p18s7vnm0pkrm0</string>
	<key>API_KEY</key>
	<string>AIzaSyC5okPS9SZnMH4iMpBfv20jjKUOiOy2tmg</string>
	<key>GCM_SENDER_ID</key>
	<string>433047020217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-aba91</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-aba91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433047020217:ios:daecb931d443c22fd8b168</string>
</dict>
</plist>